@page "/"
@using JapinoRenting.Client.Components

<PageTitle>Japino Renting</PageTitle>

<main>
    <section>
        <img src="honda.jpg" alt="Honda type-r">
    </section>
    <section class="faq">
        <Faq/>
    </section>
</main>