@page "/"
@using JapinoRenting.Data
@inject ApplicationDbContext db

<PageTitle>Home</PageTitle>

<main>
  <section class="hero min-h-screen" style="background-image: url(./honda.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Japino Renting</h1>
        <p class="mb-5">We rent exclusive japanese sport cars for a reasonable price.<br/>Give us a call for more info</p>
        <button class="btn btn-primary">See all cars</button>
      </div>
    </div>
  </section>
  <section class="w-full flex flex-col items-center mt-20">
    <div class="stats stats-horizontal shadow">
      <div class="stat">
        <div class="stat-title">Cars</div>
        <div class="stat-value">155</div>
        <div class="stat-desc"><a href="#" class="underline">see all</a></div>
      </div>
      <div class="stat">
        <div class="stat-title">Locations</div>
        <div class="stat-value">20</div>
        <div class="stat-desc"><a href="#" class="underline">see all</a></div>
      </div>
      <div class="stat">
        <div class="stat-title">Reviews</div>
        <div class="stat-value">4500</div>
        <div class="stat-desc">see all</div>
      </div>
    </div>
    <div class="carousel rounded-box w-4/5">
      <div class="carousel-item">
        <img src="/suprasmall.jpg" alt="Toyota supra" />
      </div> 
      <div class="carousel-item">
        <img src="/r33gtrsmall.jpg" alt="R33 GTR" />
      </div> 
      <div class="carousel-item">
        <img src="https://daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.jpg" alt="Burger" />
      </div> 
      <div class="carousel-item">
        <img src="https://daisyui.com/images/stock/photo-1494253109108-2e30c049369b.jpg" alt="Burger" />
      </div> 
      <div class="carousel-item">
        <img src="https://daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.jpg" alt="Burger" />
      </div> 
      <div class="carousel-item">
        <img src="https://daisyui.com/images/stock/photo-1559181567-c3190ca9959b.jpg" alt="Burger" />
      </div> 
      <div class="carousel-item">
        <img src="https://daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.jpg" alt="Burger" />
      </div>
    </div>
  </section>
  <section class="w-3/5 mx-auto my-20">
    <h3 class="text-5xl text-center pb-6">FAQ</h3>
    <div class="collapse collapse-arrow bg-base-200">
      <input type="radio" name="my-accordion-2"/>
      <div class="collapse-title text-xl font-medium underline">
        How do i rent a car from you?
      </div>
      <div class="collapse-content">
        <p>
          You can check out "Our cars" in the navigation bar and rent from there
          or you can give us a call and we will help you out.
        </p>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200">
      <input type="radio" name="my-accordion-2"/>
      <div class="collapse-title text-xl font-medium underline">
        Do i have to pay insurance?
      </div>
      <div class="collapse-content">
        <p>No, everything is covered by the renting cost.</p>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200">
      <input type="radio" name="my-accordion-2"/>
      <div class="collapse-title text-xl font-medium underline">
        Do i have to pay a deposit before renting?
      </div>
      <div class="collapse-content">
        <p>Yes, you will have to pay half of the amount before you get access to the car.</p>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200">
      <input type="radio" name="my-accordion-2"/>
      <div class="collapse-title text-xl font-medium underline">
        Do i have to pay for gas myself?
      </div>
      <div class="collapse-content">
        <p>
          Yes, you will have to pay for gas. We will hand you the car with a full tank of gas
          and we expect you to return it with a full tank of gas.
        </p>
      </div>
    </div>
  </section>
</main>