@page "/Test"
@using JapinoRenting.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
<h3>Test</h3>
@foreach (var car in Cars)
  {
      <p>@car.Description</p>
      <p>@car.RegistrationNumber</p>
      <p>@car.Engine.Torque</p>
  }
@code {
    
    public List<Car> Cars { get; set; } = new List<Car>();

    protected override async Task OnInitializedAsync()
    {
        Cars = await db.Cars.Include(c => c.Engine).ToListAsync();
    }

}